@import '~antd/dist/antd.css';
@import './resize.css';
@import './common.css';

.header {
  height: 60px;
  line-height: 60px;
}

.carousel li {
  width: 200px;
  height: 200px;
  background-color: aqua;
}