.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center
}
.textAlignC {
  text-align: center;
}
.textAlignR {
  text-align: right;
}

.marginAuto {
  margin: 0 auto;
}
.colorWhite {
  color: #FFF;
}

/* font-size */
.font-size16 {
  font-size: 16px;
}
.font-size20 {
  font-size: 20px;
}
.font-size24 {
  font-size: 24px;
}
.font-size76 {
  font-size: 76px;
}

.margin0 {
  margin: 0;
}

.paddingB10 {
  padding-bottom: 10px;
}
.padding10 {
  padding: 10px;
}

.cursor {
  cursor: pointer;
}
