
.weather-wrap {
  background: url('../img/home/weather_bg.png') no-repeat;
  background-position: center;
  padding: 20px;
  width: 200px;
  min-height: 260px;
  position: absolute;
  right: 0;
  top: 50vh;
  margin-top: -130px;
}

.carousel .item {
  height: 300px;
}
.carousel .item_live {
  background: url('../img/home/banner_live.jpg') no-repeat;
  background-size: 100%;
  background-position: center;
}
.carousel .item_work {
  background: url('../img/home/banner_work.jpg') no-repeat;
  background-size: 100%;
  background-position: center;
}
.ant-carousel .slick-slider .slick-dots li{
  border-radius: 10px;
  background-color: #FFF;
  width: 24px;
  height: 10px;
  margin: 0 10px;
}

.ant-carousel .slick-slider .slick-dots li button{
  border-radius: 10px;
  background-color: #FFF;
  height: 10px;
}

.ant-carousel .slick-slider .slick-dots li.slick-active button{
  background-color: LightGreen;
}

.personalInfor {
  padding-top: 60px;
}
.personalInfor >div {
  width: 500px;
}